name: Cypress Tests

on: push

jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        scripts: [homePageTests.spec.ts, loginTest.spec.ts]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      # Install NPM dependencies, cache them correctly
      # and run all Cypress tests
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          test: npx cypress run --spec ./cypress/integration/scripts/${{matrix.scripts}} --browser chrome
        #   run: chmod +x ./devOps/ci.sh ${{matrix.scripts}}
        #   shell: bash
