name: Cypress Automation Tests
on: [push]
jobs:
  job1:
    name: cypress-run
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        containers: [0, 1]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Packages
        run: npm install
      - name: Run Tests
        # if we have 4 files inside scripts and containers are 2
        # each container will execute 2 files
        # here we have 2 files and 2 conatainers
        # each container will run 1 file
        # thats why command is hardcoded with 2
        # in order for the logic to work no of conatainer value should be same as the hardcoded value i.e.2 here
        run: npx cypress run --env allure=true --spec $(node devOps/run-parallel.ts ${{ matrix.containers }} 2) --browser chrome
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: cypress-screenshots
          path: cypress/screenshots
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: cypress-videos
          path: cypress/videos
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: ReportsData
          path: allure-results
  job2:
    name: reports
    if: always()
    runs-on: ubuntu-latest
    needs: job1
    steps:
      - name: Download a Build Artifact
        uses: actions/download-artifact@v3.0.1
        with:
          name: ReportsData
          path: allure-results
      - name: Get Allure history
        uses: actions/checkout@v2
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Allure Report action from marketplace
        uses: simple-elf/allure-report-action@master
        if: always()
        with:
          allure_results: allure-results
          allure_history: allure-history
          keep_reports: 90

      - name: Deploy report to Github Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v2
        env:
          PERSONAL_TOKEN: ${{ secrets.G_TOKEN }}
          PUBLISH_BRANCH: main
          PUBLISH_DIR: allure-history
